header {
    background: #ffffff;
    margin-top: 20px;
   
}
a:visited {
    color: #424242;
    text-decoration: none;
}
a:link {
    color: #424242;
    text-decoration: none;
}
a {
    font-weight: bold;
}
button {
    font-weight: bold;
    color: #FFB800;
    border-color: #FFB800;
    background-color: #ffffff;
    padding: 10px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}
   
.gl {
    background-color: #FFCA0C;
    margin-bottom: 150px;
    background-image: url(Image.png) ;
    background-repeat: no-repeat; 
    background-position:  80% bottom;
}

.tomek {
background-color: #FFB800;
}

.how {
    background: linear-gradient(180deg, rgba(255, 206, 103, 0.22) -42.47%, rgba(253, 237, 202, 0) 100%);

}

.bb {
    position: static;
    text-align: center;
    top: 100px;

    
    
    font-weight: bold;
    font-size: 35px;
    line-height: 112%;
    color: #F17228;
}

