header {
    background: #ffffff;
    margin-top: 20px;
   
}
a:visited {
    color: #424242;
    text-decoration: none;
}
a:link {
    color: #424242;
    text-decoration: none;
}
a {
    font-weight: bold;
}
button {
    font-weight: bold;
    color: #FFB800;
    border-color: #FFB800;
    background-color: #ffffff;
    padding: 10px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}
   
.gl {
    background-color: #FFCA0C;
    margin-bottom: 150px;
    background-image: url(Image.png) ;
    background-repeat: no-repeat; 
    background-position:  80% bottom;
}

.tomek {
background-color: #FFB800;
}

.how {
    background: linear-gradient(180deg, rgba(255, 206, 103, 0.22) -42.47%, rgba(253, 237, 202, 0) 100%);

}

.bb {
    position: static;
    text-align: center;
    top: 100px;

    
    
    font-weight: bold;
    font-size: 35px;
    line-height: 112%;
    color: #F17228;
}

#howdoes h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 80px;
    color: #F17228;
}


#howdoes {
    text-align: center;
    padding: 140px;
    background: linear-gradient(180deg, rgba(255, 206, 103, 0.22) -42.47%, rgba(253, 237, 202, 0) 100%);    
}

#howdoes .upper_text {
    font-weight: bold;
    color: #434343;
}

#howdoes .bottom_text {
    color: #434343;  
}

#pop_items h1{
    font-size: 43px;
    font-weight: bold;
    margin-bottom: 80px;
    }

#pop_items {
    text-align: center;
    }

#pop_items .card{
    border: none;
    text-align: left;
}       

#pop_items button{
    align-items: center;
    background-color:#F17228;
    color:white;
    padding:21px 83px;
    border-radius:8px ;
    font-weight: bold;
    display: block;
    width: 100%;
    }

#black {
    font-weight: bold;
}

#gold {
    color: #FFB30E;
}

#pop_items img{
    border-radius: 15px;
    }

#featured h1 {
    font-size: 43px;
    font-weight: bold;
    margin-bottom: 75px;
    text-align: center;
}

#featured .dol {
    text-align: center;
}