header {
    background: #ffffff;
    margin-top: 20px;
   
}
a:visited {
    color: #424242;
    text-decoration: none;
}
a:link {
    color: #424242;
    text-decoration: none;
}
a {
    font-weight: bold;
}
button {
    font-weight: bold;
    color: #FFB800;
    border-color: #FFB800;
    background-color: #ffffff;
    padding: 10px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
  }
main {
   background-color: #FFCA0C;
   background-image: url("Image.png");
   background-position:  80% bottom;
   background-repeat: no-repeat;  

}
    
.zdjecie {
width: 1000px;
height: 600px;
left: 600px;
top: 250px;
}
   
